/* 兼容小屏尺寸 */
@media screen and (max-width: 320px) {
    html, body {
        font: 400 12px/16px "Helvetica Neue",Helvetica,Arial,sans-serif 
    }
    .login-btn-wrap{
	margin-top: 3rem !important;
	}
}
@media screen and (min-width: 321px) and (max-width:375px) {
    .ald-index-top-inside a{
	    transform: translate(-50%,-6%) !important;
	}
}
@media screen and (min-width: 568px){
    .ald-money{
	    font-size: 4.2rem !important;
	    padding-bottom: 2.8rem !important;
	}
	.ald-index-item-text{
		font-size: 1.2rem !important;
	}
    .ald-index-item-content{
	    font-size: 2rem !important;
	    padding-top: 1rem !important;
	}
	.ald-a-color, .ald-a-color:hover{
		font-size: 2.4rem !important;
	}
	.ald-bank-number{
		font-size: 3.8rem !important;
	}
	.ald-audit-text{
		font-size: 1.8rem !important;
		padding-bottom: 1.8rem !important;
	}
	.ald-click-loan-text{
		font-size: 1.2rem !important;
	}
}
@media screen and (min-width: 768px){
	.ald-package-title{
		font-size: 1.6rem;
		display: inline-block;
		padding-top: 0.6rem;
	}
	.ald-package-money{
		font-size: 2rem !important;
		padding-bottom: 0.6rem !important;
	}
	.ald-package-loan-content{
		font-size: 1.2rem !important;
	}
}
/*自定义样式*/
html,body{
	background-color: #f5f5f9;
	width: 100%;
}
textarea{
	width:94%;
	min-height: 6rem;
	border: 0;
    resize: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.6rem;
}
ul li{
	list-style: none;
}
.ald-bg {
	background-color: #fff;
}
.ald-grid{
	background-color: #fff;
	position: relative;
}
.ald-grid-height6{
	height: 6rem;
	line-height: 6rem;
}
.ald-grid-height5{
	height: 5rem;
}
.ald-grid-height5-6{
	height: 5.6rem;
	line-height: 5.6rem;
}
.ald-relative{
	position: relative;
}
.ald-ui-grid-width-25-100{
	width: 25%;
}
.ald-ui-grid-width-75-100{
	width: 75%;
}
.ald-position-50-100{
	position: absolute;
	top: 50%;
	left: 50%;
}
.ald-position-left {
	position: absolute;
	left: 1rem;
	top: 0;
}
.ald-position-right {
	position: absolute;
	right: 1rem;
    top: 0;
    z-index: 2;
}
.ald-grid-margin-left,.ald-row-margin-left{
	margin-left: 1rem;
}
.ald-label-clear-border-bottom{
	border: 0;
}
.ald-item{
	position: relative;
	background: #fff;
}
.ald-text-prompt{
	font-size: 1.2rem;
	margin: 12rem 0 1.6rem;
	letter-spacing: 0.1rem;
}
.ald-block-center{
	display: block;
	margin: 0 auto;
}
/*首页*/
.ald-login-bg{
	width: 100%;
}
.ald-index-item-bg{
	width: 94%;
	margin: 0 auto;
}
.ald-index-item-bg>img{
	width: 100%;
}
.ald-index-item-text{
	font-size: 0.8rem;
	width: 94%;
}
.ald-index-item-text-t{
	transform:translate(-50%,-50%);
	color: #fff;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ald-index-item-text-b{
	transform:translate(-50%,-70%);
	color: #b8b8b8;
}
.ald-item-text-m{
	transform:translate(-50%,-50%);
	color: #fff;
	width: 100%;
}
.ald-index-item-content{
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	padding-top: 0.5rem;
}
.ald-index-item-subtitle{
	font-size: 0.8rem;
}
/*超链接样式*/
.ald-a,.ald-a:hover{
	color: #54afe4;
	text-decoration: none;
}
.ald-menu-link, .ald-menu-link:hover{
	color: inherit;
	text-decoration: none;
}
.ald-a-fz{
	font-size: 1.1rem;
}
.ald-font-size-1{
	font-size: 1rem;
}
.ald-a-color,.ald-a-color:hover{
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	color: #fff;
	transform:translate(-50%,72%);
}
.ald-menu-text{
	color: #989898;
}
.zb-menu-active .ald-menu-text,.ald-replace-color,.ald-text-color-blue{
	color: #4bc1d2;
}
.ald-money{
	display: block;
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	padding-bottom: 0.6rem;
}
.ald-login-text{
	display: inline-block;
}
.ald-login-content{
	white-space: nowrap;
}
.ald-forget-password a{
	display: inline-block;
	margin-top: 3rem;
}
.ald-a-btn{
	display: block;
	line-height: 4rem;
	font-size: 1.2rem;
	color: #4bc1d2;
}
.ald-a-btn-color{
	color: #4cd894;
}
.ald-a-0a9fff,.ald-toolbar-active,.ald-help-toolbar-active{
	color: #0a9fff;
}
.ald-help-toolbar-active:after{
	content: '';
    position: absolute;
    bottom: -0.9rem;
    left: 0;
    width: 100%;
    height: 1px;
	background: #0a9fff;
}
.ald-verification-code-color{
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	color: #44db96;
	text-decoration: none;
}
/*图标*/
.ald-login-icon{
	font-size: 1.2rem;
	color: #797979;
}
.ald-position-ico {
	font-size: 2rem;
	color: #fff;
}
.ald-position-ico-ccc{
	color: #ccc;
}
.ald-item-icon{
	width: 1.6rem;
}
.ald-position-search-ico{
	font-size: 1.1rem;
	color: #ccc;
	position: absolute;
	top: 50%;
	left: 9%;
	transform: translate(-50%,-50%);
}
/*按钮*/
.ald-block-button{
	width: 85%;
	margin-top: 2rem;
}
.ald-block-button-38-100{
	width: 38%;
}
.ald-block-button-92-100{
	width: 92%;
	margin-top: 0.2rem;
}
.ald-block-button-92-100-margin-top{
	margin-top: 1.8rem;
}
.ald-button-large{
	padding: 0.7rem 0;
	background-color: #54afe4;
	color: #fff;
	border-radius:0.3rem;
}
.ald-button-large-color{
	background-color: #4bc1d2;
}
/*表单*/
.ald-label{
	height: 4rem;
	line-height: 4rem;
	background-color: #fff;
}
.ald-label-padding-left{
	padding-left: 0.3rem;
}
.ald-input{
	height: 4rem;
	width: 100%;
	padding: 0;
	border: 0;
	background-color: #fff;
	outline: none;
	font-size: 1rem;
}
.ald-search-inpu{
	width: 82%;
	height: 2rem;
	border:1px solid #e5e5e5;
	border-radius: 0.5rem;
	background: #fff;
	outline: none;
	margin: 0.5rem 0;
	padding-left: 2.4rem;
}
/*复选框*/
label{
	display: inline;
}
.regular-checkbox,.simply-checkbox,.toggle-checkbox{
	display: none;
}
.regular-checkbox + label{
	position: relative;
	background-color: #f8f8f8;
	border: 1px solid #aeaeae;
	border-radius: 0.2rem;
	display: inline-block;
}
.regular-checkbox + label:active,.regular-checkbox:checked + label:active{
	box-shadow: 0px 1px 2px raba(0,0,0,0.05),inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label{
	background-color: #4bc1d2;
	border: 1px solid #4bc1d2;
}
.regular-checkbox:checked + label:after {
	content: '\2713';
    font-size: 1rem;
    position: absolute;
    top: -1.4rem;
    left: 0.1rem;
    color: #fff;
}
.big-checkbox + label{
	position: relative;
	padding: 0.5rem;
	margin-right: 0.2rem;
	top: 0.2rem;
	left: 0.2rem;
}
.simply-checkbox-public + label,.simply-checkbox-public:checked + label{
	background-size: 88% !important;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	transform: translate(6%,38%);

}
.simply-checkbox + label{
	background: url(../images/simply_checkbox@3x.png) no-repeat center center;
}
.simply-checkbox:checked + label{
	background: url(../images/simply_checkbox_checked@3x.png) no-repeat center center;
}
.toggle-checkbox + label,.toggle-checkbox:checked + label{
	display: inline-block;
	width: 3.2rem;
	height: 1.8rem;
	border-radius: 1.6rem;
	position: relative;
	margin-top: 0.75rem;
}
.toggle-checkbox + label{
	background: #fff;
	border: 1px solid #e5e5e5;
}
.toggle-checkbox:checked + label{
	background: #4bd562;
	border: 1px solid #4bd562;
}
.toggle-checkbox + label:after,.toggle-checkbox:checked + label:after{
	content: '';
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}
.toggle-checkbox + label:after{
	box-shadow:2px 0 3px rgba(0,0,0,.3);
    transform: translate(-88%,-48%);
}
.toggle-checkbox:checked + label:after{
	box-shadow:-2px 0 3px rgba(0,0,0,.3);
    transform: translate(-12%,-48%);
}
/*分割线*/
.ald-grid-divider, .ald-grid-divider:empty{
	margin-top:0;
	margin-bottom:0;
	border: 0;
	position: relative;
}
.ald-border-top,.ald-border-bottom,.ald-border-right{
	position: relative;
}
.ald-grid-divider:before, .ald-grid-divider:empty:before,.ald-border-bottom:before,.ald-border-top:before,.ald-menu-divider:before,.ald-menu-divider:empty:before{
	position: absolute;
	content: '';
	width: 100%;
	height:1px;
	transform:scaleY(0.5);
}
.ald-grid-divider:before, .ald-grid-divider:empty:before{
	top: 0;
	left: 0;	
	border-top: 1px solid #ededed;
}
.ald-menu-divider:before,.ald-menu-divider:empty:before{
	top: 0;
	left: 0;
	border-top: 1px solid #ccc;
	transform:scaleY(0.5) translateY(-1px);
}
.ald-border-bottom:before{
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #ededed;
}
.ald-border-bottom-1:before{
	bottom: -1px;
}
.ald-border-top:before{
	top: -1px;
	left: 0;
	z-index: 2;
	border-top: 1px solid #ededed;
}
.ald-menu-top:before{
	top: 0;
	left: 0;
	border-top: 1px solid #ccc;
}
.ald-border-right:before{
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 1px;
	height:100%;
	border-right: 1px solid #ededed;
	transform:scaleX(0.5);
}
/*步骤区域*/
.ald-grid-step{
	height: 8rem;
}
.ald-step-item{
	margin-top: -1.6rem;
}
.ald-step-text{
	padding-top: 6rem;
}
.ald-step-text-active{
	color: #4cd894;
}
.ald-step-item-start .ald-step-line-left,.ald-step-item-end .ald-step-line-right{
	visibility: hidden;
}
.ald-step-line-left{
	height: 0.5rem;
	background: #f3f3f3;
	position: absolute;
	top: 50%;
	right: 50%;
	left: 0;
	transform: translate(0,-50%);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.03) inset;
}
.ald-step-line-right{
	height: 0.5rem;
	background: #f3f3f3;
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	transform: translate(0,-50%);
	box-shadow: 0px 2px 0px rgba(0,0,0,0.03) inset;
}
.ald-step-circular{
	width: 3.6rem;
	height: 3.6rem;
	background: #f3f3f3;
	border-radius: 50%;
	z-index: 2;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.03) inset;
}
.ald-step-circular-in{
	width: 2.7rem;
	height: 2.7rem;
	line-height: 2.7rem;
	border-radius: 50%;
	background: #fff;
	font-size: 1.6rem;
	z-index: 3;
}
.ald-step-circular-in-active{
	background: #4cd894;
	color: #fff;
}
.ald-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*边距*/
.ald-grid-clear-top{
	margin-top: 0 !important;
}
.ald-grid-clear-left{
	margin-left: 0 !important;
}
.ald-clear-grid-padding-left{
	padding-left: 0;
}
.ald-grid-margin-top {
	margin-top: 0.5rem !important;
}
.ald-grid-margin-bottom {
	margin-bottom: 4.5rem !important;
}
.ald-padding-left{
	padding-left: 0.8rem;
}
.ald-padding-left-3-2{
	padding-left: 3.2rem;
}
.ald-padding-left-3-4{
	padding-left: 3.4rem;
}
.ald-item-padding{
	padding: 0 0.8rem;
}
.ald-margin-right{
	margin-right: 0.8rem;
}
.ald-padding-right{
	padding-right: 1.8rem;
}
.ald-padding-bottom{
	padding-bottom: 0.8rem;
}
.ald-text-padding-bottom{
	padding-bottom: 0.3rem;
}
.ald-margin-t-0-8{
	margin-top: 0.8rem;
}
.ald-margin-t-0-9{
	margin-top: 0.9rem;
}
.ald-row{
	height: 4rem;
	line-height: 4rem;
}
.ald-row-large{
	height: 6rem;
	padding: 0.7rem 0.8rem
}
.ald-row-large-line-height{
	line-height: 6rem;
    padding: 0.9rem 0.8rem;
}
.ald-row-large-5-2{
	height: 5rem;
	padding: 0.8rem 0.8rem 0.4rem 1.4rem;
}
.ald-row-line-height{
	line-height: 4rem;
}
.ald-row-small{
	height: 3rem !important;
	line-height: 3rem !important;
}
.ald-row-small-2{
	height: 2rem;
	line-height: 2rem;
}
.ald-row-small-line-height{
	line-height: 3.5rem;
}
.ald-toolbar{
	height: 3rem;
	line-height: 3rem;
	background: #fff;
}
.ald-content-padding{
	padding: 0.2rem 0.8rem 0.6rem;
}
.ald-row-content{
	margin-top: 1rem;
	margin-bottom: 0.6rem !important;
	line-height: 2rem;
}
.ald-padding-top-0-4{
	padding-top:0.4rem;
}
.ald-padding-r-3-100{
	padding-right: 3%;
}
/*顶部标题*/
.ald-title{
	position: relative;
	height: 4rem;
	line-height: 4rem;
	background-color: #4bc1d2;
	font-size: 1.4rem;
	color: #fff;
}
.ald-title-white{
	background: #fff;
	color: #3f3f3f;
}
.ald-a-title{
	display: inline-block;
	padding: 0 1.2rem;
}
.ald-title-active{
	border-bottom: 1px solid #4bc1d2;
	color: #4bc1d2;
}
.ald-index-title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	font-size: 1.4rem;
	color: #fff;
}
.ald-index-top-inside img{
	animation:mymove 1.5s infinite linear;
	transform:translate3d(-50%,-38%,0);
	width: 52%;
}
@keyframes mymove{
	0%{
		transform:translate3d(-50%,-38%,0) rotate(0);
	}
	100%{
		transform:translate3d(-50%,-38%,0) rotate(360deg);
	}
}
.ald-index-top-inside a{
	transform:translate(-50%,16%);
}
.ald-prompt{
	padding-left: 1rem;
	color: #a9a9a9;
}
.ald-back{
	font-size: 1rem;
	margin-left: -0.2rem;
}
.ald-a-back{
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	margin-top: -0.4rem;
}
/*文字颜色*/
.ald-color-a8{
	color: #a8a8a8;
}
.ald-color-7e{
	color: #7e7e7e;
}
.ald-color-c4{
	color: #c4c4c4;
}
.ald-color-93{
	color: #939393 !important;
}
.ald-color-orange{
	color: #ff3d01;
}
.ald-color-ff9601{
	color: #ff9601;
}
.ald-color-5c{
	color: #5c5c5c;
}
.ald-color-4bcf99{
	color: #4bcf99;
}
.ald-color-2799c9,.ald-color-2799c9:hover{
	color: #2799c9;
}
/*立即借款页面*/
.ald-text-font{
	font-size: 1.4rem;
}
.ald-text-font-1-2{
	font-size: 1.2rem;
}
.ald-text-color-black{
	color: #444;4cd894
}
.ald-text-color-green{
	color: #4cd894;
}
.ald-time-border{
	display: inline-block;
	width: 4.6rem;
	height: 2.6rem;
	line-height: 2.6rem;
	border: 1px solid #c2c2c2;
	border-radius: 0.2rem;
}
.ald-time-border-active{
	border-color: #4bc1d2;
	color: #4bc1d2;
}
/*证件块*/
.ald-certificates-item{
	margin: 0.8rem 0;
}
.ald-certificates-text{
	padding-top: 0.4rem;
	color: #6d6e71;
}
.ald-photo-wrap{
	width: 6.6rem;
	height: 4.8rem;
	margin: 0 auto;
}
.ald-photo-default{
	width: 28%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.ald-photo{
	width: 6.6rem;
	height: 4.8rem;
}
.ald-correct-position,.ald-error-position{
	position: absolute;
	right: -0.3rem;
	bottom: -0.3rem;
}
.ald-certificates-i-bg{
	width: 1.4rem;
	height: 1.4rem;
	line-height: 1.4rem;
	border-radius: 50%;
	color: #fff;
	font-size: 0.5rem;
}
.ald-correct-bg{
	background: #4cd894;
}
.ald-error-bg{
	background: #ff6868;
}
/*进度条*/
.ald-progress-bg{
	width: 100%;
	height: 1px;
	background: #c2c2c2;
	transform:translateY(2rem);
}
.ald-progress{
	height: 1px;
	background: #4bc1d2;
}
.ald-progress-btn{
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: #4bc1d2;
	position: absolute;
	top: -0.7rem;
	transform:translate(-0.7rem,0);
}
/*页脚菜单*/
.ald-menu{
	position: fixed !important;
	height: 4rem;
	background-color: #fff;
	font-size: 0.8rem;
}
.ald-menu-img{
	width: 1.8rem;
	margin: 0.5rem 0 0.1rem;
}
.login-btn-wrap{
	margin-top: 5rem;
}
a.login-btn{
	padding: 0.2rem 1.6rem;
	background-color: #fff;
	color: #4bc1d2;
	border: 1px solid #ededed;
	border-radius: 0.2rem;
}
/* 全屏遮罩层 */
.ald-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:rgba(0,0,0,.3);
	z-index: 6;
}
/*区域弹出框*/
.ald-region-dialog{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 7;
}
/*套餐弹窗*/
.ald-package-dialog{
	margin: 6rem 2.4rem 22rem 2.4rem;
	border-radius: 0.2rem;
}
.ald-package-bg-img{
	width: 100%;
	padding: 0.6rem;
}
.ald-package-left{
	width: 18%;
	top: -1.9%;
	left: -1.5%;
}
.ald-package-close{
	width: 8%;
	top: -1.9%;
	right: -1.5%;
}
.ald-package-title{
	letter-spacing: 0.1rem;
}
.ald-package-grid{
	padding: 5% 0 6%;
}
.ald-package-money{
	font-size: 1.5rem;
	color: #9cc920;
	padding-bottom: 0.4rem;
	letter-spacing: 0.1rem;
}
.ald-package-loan-content{
	font-size: 0.9rem;
	color: #b6b6b6;
}
/*上传照片弹出框*/
.ald-uploadPhotos-dialog{
	margin:9rem 2.4rem 4.5rem;
	border-radius: 0.2rem;
}
.ald-uploadPhotos-wrap{
	padding: 2.4rem;
}
.ald-uploadPhotos-bg{
	background: url(../images/ald_picture_frame@3x.png) no-repeat center center;
	background-size: contain;
}
.ald-uploadPhotos{
	padding: 1.8%;
}
/*申请成功 等待审核弹出框*/
.ald-popup-radius{
	border-radius: 0.5rem;
}
.ald-popup-text{
	font-size: 1.4rem;
	margin: 3.6rem 0;
}
.ald-popup-i-bg{
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	border-radius: 50%;
	font-size: 1.4rem;
	color: #fff;
}
/*市场界面*/
.ald-toolbar-margin{
	margin: 0.8rem 0;
	line-height: 1.4rem;
}
.ald-commodity-wrap{
	font-size: 0.8rem;
}
.ald-commodity-wrap-l{
	margin: 0 0.5rem 0 1rem;
}
.ald-commodity-wrap-r{
	margin: 0 1rem 0 0.5rem;
}
.ald-commodity-wrap img{
	width: 100%;
}
.ald-commodity-title{
	width: 94%;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ald-location-button{
	position: fixed;
	bottom: 4.8rem;
	right: 0;
	z-index: 2;
	width: 4.2rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
	background: rgba(75,193,210,.8);
	color: #fff;
}
.ald-apply-position-button:hover,.ald-location-button:hover,.ald-apply-button:hover{
	color: #fff;
}
.ald-border-position-t,.ald-border-position-b{
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #dcdcdc;
	transform:scaleY(.5);
}
.ald-border-position-r,.ald-border-position-l{
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background: #dcdcdc;
	transform:scaleX(.5);
}
.ald-border-position-t{
	top: -1px;
}
.ald-border-position-b{
	bottom: -1px;
}
.ald-border-position-r{
	right: -1px;
}
.ald-border-position-l{
	left: -1px;
}
/*商品详情界面*/
.ald-details-wrap{
	width: 100%;
	overflow: hidden;
}
.ald-details-pic{
	width: 500%;
}
.ald-details-wrap img{
	width: 20%;
	float: left;
}
.ald-details-number{
	position: absolute;
	bottom: 0.8rem;
	right: 1rem;
	width: 2.8rem;
	height: 1.6rem;
	line-height: 1.6rem;
	border-radius: 1rem;
    background: rgba(255,255,255,.5);
}
.ald-contact{
	margin-top: 0.6rem;
}
.ald-row-small-2-4{
	height: 2.4rem;
	line-height: 2.4rem;
}
.ald-telephone-btn{
	display: inline-block;
	width: 5.6rem;
	border-radius: 0.2rem;
	background: #ff6161;
	color: #fff;
}
.ald-telephone-btn:hover{
	background: #fd7070;
	color: #fff;
}
/*头像*/
.ald-head-portrait{
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
}
.ald-head-portrait-small{
	width: 3.4rem;
	height: 3.4rem;
	border-radius: 50%;
}
.ald-head-portrait-square{
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 0.3rem;
	border: 1px solid #e9e9e9;
}
.ald-head-portrait-radius{
	border-radius: 0.3rem;
}
.ald-clear-radius{
	border-radius: 0;
}
/*我的二手*/
.ald-add-photo{
	display: block;
	width: 8rem;
	height: 8rem;
	margin: 1.6rem auto;
	background: #4bc1d2;
	color: #fff;
	letter-spacing: 0.2rem;
}
.ald-add-photo:hover{
	background: #5ac8d8;
	color: #fff;
}
.ald-add-photo-i{
	display: block;
	margin: 2rem 0 0.5rem 0 !important;
	font-size: 2.4rem;
	letter-spacing: 0;
}
/*我的二手界面*/
.ald-second-hand-pic{
	width: 4rem;
	height: 4rem;
	margin: 0.8rem !important;
}
.ald-second-hand-pic img{
	display: block;
	border-radius: 0.3rem;
}
.ald-second-hand-content{
	width: 62%;
	margin-top: 1.4rem;
	line-height: 1rem;
}
/*兼职*/
.ald-p-text{
	margin: 0;
	line-height: 1.8rem;
}
.ald-apply-button{
	position: fixed;
	bottom: 4.8rem;
	right: 1.2rem;
	z-index: 2;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	background: #0a9fff;
	color: #fff;
}
.ald-apply-button:after{
	content: '';
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: block;
	background: #0a9fff;
	margin: -3.4rem -0.8rem;
}
.ald-apply-button,.ald-apply-button:after{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ald-apply-button span{
    display: inline-block;
    line-height: 1.2rem;
    padding-top: 0.9rem;
}
/*招聘详情*/
.ald-grid-recruit-padding{
	padding: 0.6rem 0 0.6rem 0.3rem;
}
.ald-line-height-2{
	line-height: 2rem;
}
.ald-row-introduce{
	width: 4.8rem;
}
.ald-comments{
	background: #f7f7f7;
	line-height: 1.6rem;
	border-radius: 0.2rem;
}
.ald-comment{
	padding: 0.1rem 0.3rem;
}
.ald-apply-position-button{
	color: #fff;
	padding: 0 1rem;
}
/*活动界面*/
.ald-tiem-activity{
	border: 1px solid #ededed !important;
	border-radius: 0.2rem;
	margin: 0.5rem;
	margin-bottom: 0;
}
.ald-activity-badge-b{
	background: url(../images/Badge_blue@2x.png) no-repeat 0 50%;
}
.ald-activity-badge-g{
	background: url(../images/Badge_green@2x.png) no-repeat 0 50%;
}
.ald-activity-badge-b,.ald-activity-badge-g{
	display: inline-block;
	width: 4rem;
	height: 3rem;
	line-height: 3rem;
	background-size: 88%;
	color: #fff;
	padding-left: 0.8rem;
	box-sizing:border-box;
	font-weight: normal;
	font-size: 0.8rem;
}
.ald-tiem-activity-title{
	font-weight: 700;
	color: #929292;
}
.ald-activity-pic{
	width: 94%;
}
.ald-item-activity-bottm{
	background: #f9fdff;
}
.ald-comment-block-padding{
	padding: 0.4rem 0.8rem 0.6rem 4.5rem;
}
.ald-data-wrap{
	line-height: 2rem;
}
.ald-data-text{
	display: inline-block;
	transform: translate(0.2rem,-0.3rem);
}
/*账户中心界面*/
.ald-news-tip:after{
	content: '';
	position: absolute;
	top: 0.8rem;
	left: 4.1rem;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 2rem;
	background: #ff5e5e;
}
/*我的银行卡界面*/
.ald-bank-bg{
	background: #fff url(../images/ICBC_bg@3x.png) no-repeat center;
	padding: 17% 0;
	background-size: 94%;
}
.ald-bank-number{
	position: absolute;
	right: 8%;
	top: 50%;
	margin-top: 3%;
	font-size: 2.2rem;
	color: #fff;
}
/*对话框*/
.ald-dialog-box{
	width: 80%;
	height: auto;
	min-height: 1.8rem;
	background: #fff;
	border-radius: 0.2rem;
	border: 1px solid transparent;
	border-image: url(../images/dialog_box@3x.png) 6 repeat;
	padding: 0.7rem 0.2rem 0.5rem 0.5rem;
}
.ald-dialog-box:after{
	content: '';
	background: url(../images/dialog_box_arrow@3x.png) no-repeat;
	width: 2rem;
	height: 4rem;
	background-size: 25%;
	position: absolute;
	top: 1rem;
	left: -0.5rem;
}
.ald-message_time{
	width: 80%;
}
/*我的借款部分*/
.ald-top-bg{
	background: #4bc1d2 url(../images/index_top_inside.png) no-repeat center;
    background-size: 52%;
    padding: 0 0 62%;
}
.ald-loan-top-bg{
	background: #4bc1d2 url(../images/loan_bg@3x.png) no-repeat center;
    background-size: 46%;
    padding: 0 0 62%;
}
.ald-audit-text{
	display: block;
	padding-bottom: 0.6rem;
}
.ald-loan-item-padding-t{
	padding: 1.2rem 0 0 0.8rem;
}
.ald-loan-item-padding-b{
	padding: 0.8rem 0 0.8rem 0.8rem;
}
.ald-translate-0-50{
	transform:translate(0,50%);
}
.ald-translate-0-80{
	transform:translate(0,80%);
}
.ald-loan-password{
	outline: none;
	width: 3rem;
	height: 3rem;
	border: 1px solid #dddddd;
	text-align: center;
	font-size: 3rem;
}
.ald-loan-password:not(:last-child){
	border-right:none;
}
.ald-loan-eject-text{
	width: 19rem;
	margin: 0.8rem auto;
}
.ald-click-loan-text{
	display: block;
	padding-top: 1rem;
}
/*设置界面*/
.ald-share-container{
	padding: 3rem 0;
}
.ald-qr-code{
	width: 40%;
	margin: 1rem 0 4rem;
}
.ald-share-img{
	width: 48%;
}
.ald-share-container,.ald-share-divider{
	margin: 0 3rem;
}
.ald-share-container:before,.ald-share-divider:before, .ald-share-divider:empty:before{
	border-top: 1px solid #d6d6d6;
}
.ald-share-text{
	background: #f5f5f9;
	width: 24%;
	z-index: 2;
	transform: translate(-50%,0);
	top: -0.6rem;
}